<a href="https://colab.research.google.com/github/ucfilho/Biochemical_Engineering/blob/master/TPA/operacoes_unitarias_alimentos_esteriliza_nov_16_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
TC = [1.5, 27.9, 47.6, 63.0,  75.2, 84.7,  92.3,  98.2, 102.8, 106.5,  109.4, 
      111.6, 113.4, 114.8, 115.9, 116.8, 117.5, 118.0, 118.4, 118.8, 119.0, 119.2, 
      119.4, 119.5, 119.6, 112.0, 102.8, 88.2, 73.3, 61.3, 52.7, 45.9, 40.6, 
      36.5, 33.2, 30.5, 28.5, 26.9, 25.7]

tempo = [0,5, 10,15,20,25,30,35,40,45,50,55,60,65, 70, 75,80,85,90,95,100,  
         105, 110, 115 ,120, 125,130,135,140,145,150,155,160,165,170,175,
         180,185,190]
df = pd.DataFrame({'t(min)':tempo, 'T(celsius)':TC})

Dados da Temperatura de um produto enlatado foram
mensurados e registrados no ponto mais lento e estão
indicados na Tabela a seguir. A Temperatura da
autoclave é de 120oC e o resfriamento foi feito com
água a 21oC. Verifique, usando o método geral, se esse
processo foi adequado para atender o valor de
esterilização de 12D para o Bacillus
stearothermophilus, cujos parâmetros são D0 = 2,5 min
e z = 9,5oC no alimento enlatado.

In [3]:
df

    t(min)  T(celsius)
0        0         1.5
1        5        27.9
2       10        47.6
3       15        63.0
4       20        75.2
5       25        84.7
6       30        92.3
7       35        98.2
8       40       102.8
9       45       106.5
10      50       109.4
11      55       111.6
12      60       113.4
13      65       114.8
14      70       115.9
15      75       116.8
16      80       117.5
17      85       118.0
18      90       118.4
19      95       118.8
20     100       119.0
21     105       119.2
22     110       119.4
23     115       119.5
24     120       119.6
25     125       112.0
26     130       102.8
27     135        88.2
28     140        73.3
29     145        61.3
30     150        52.7
31     155        45.9
32     160        40.6
33     165        36.5
34     170        33.2
35     175        30.5
36     180        28.5
37     185        26.9
38     190        25.7

In [4]:
n = len(TC)
F0 =0
Tref =120
z = 9.5 
for i in range(n-1):
  dt = tempo[i+1]-tempo[i]
  dT_z = (TC[i+1]-Tref)/z
  F0 +=dt*10**(dT_z)
print('F0=',F0)

F0 =0
for i in range(n-1):
  dt = tempo[i+1]-tempo[i]
  L1 = 10**((TC[i+1]-Tref)/z) 
  L2 = 10**((TC[i]-Tref)/z)
  F0 += dt*(L1+L2)/2

D0 =2.5
N_N0 = 10**(-F0/D0)
print('F0=',F0)
print('N_N0=',N_N0)

F0= 42.985713007030995
F0= 42.9857130067356
N_N0= 6.393148573105313e-18

In [5]:
import numpy as np
D0 = 2.5
N0_N = 10**12
F0=D0*(np.log10(N0_N))
print('F0=',F0)

F0= 30.0

In [6]:
D0 = 2.5
Tref =120
A = 0
k =[]
for i in range(n-1):
  dt = tempo[i+1]-tempo[i]
  L1 = 10**((TC[i+1]-Tref)/z)
  D1 = D0/L1
  k1 = np.log(10)/D1 
  L2 = 10**((TC[i]-Tref)/z)
  D2 = D0/L2
  k2 = np.log(10)/D2
  A += (k1+k2)/2*dt
  k.append(k2)

N_N0 = np.exp(-A)
print('N_N0=',N_N0)

N_N0= 6.39314857310529e-18